<div class="mt-4">
    <h3>Đăng khóa học</h3>
    <form method="POST" action="/courses/store">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control" id="name" placeholder="tên khóa học" name="name">
        </div>
        <div class="form-group">
            <label for="description">Mô tả khóa học</label>
            <input type="text" class="form-control" id="description" placeholder="mô tả khóa học" name="description">
        </div>
        <div class="form-group">
            <label for="videoid">VideoID khóa học</label>
            <input type="text" class="form-control" id="videoid" placeholder="tên ID khóa học" name="videoID">
        </div>
        <button type="submit" class="btn btn-primary">Thêm khóa học</button>
    </form>
</div>