<div class="search-form mt-4">
    <form method="POST" action="">
    <div class="form-group">
        <label for="search-input">Nhập từ khóa</label>
        <input type="text" class="form-control" name="q" id="search-input" placeholder="Enter text">
    </div>
    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>